<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends "basic.html" %}
    {% load crispy_forms_tags %}
    {% block head %}
    <title>Исправить поле {{ object.pk }}</title>
    {% endblock %}
</head>
<body>
{% block body %}
<h4 class="m-2 p-3">Исправить поле {{ object.pk }} </h4>
<div class="col-6 ml-3">
<form method="post" >{% csrf_token %}
    {{ form|crispy }}
    <input  class="mt-3 mb-5 btn btn-success" type="submit" value="Обновить">
</form>
</div>
{% endblock %}
</body>
</html>